
h5 {padding: 20px;
margin-top: 80px;
/*background-color: #7c7c7c;*/
text-align: right;}

footer .redes-sociales {
	/*color: #fff;	
	*/margin: 25px 40px;
	display: inline-flex;
list-style-type: none;
font-size: 40px;
letter-spacing: 60px;
text-align: center;
	}

ul .redes-sociales {text-align: center;
	background-color: gray;
	}

footer {background-color: #7c7c7c;
width: 100%;
padding-right: 0px !important;}

.logo {width: 100px;
	margin-top: 0px;}


footer .redes-sociales .twitter:hover { color: white;}
footer .redes-sociales .facebook:hover { color: white; }
footer .redes-sociales .youtube:hover {color: white; }
footer .redes-sociales .instagram:hover { color: white; }

.btn btn-primary btn-block {margin-bottom: 20px;}

#nosotros {text-align: center;
font-size: 60px;
margin-top: 60px;
margin-bottom: 40px;

}

.iniciarsesion {margin-top: 90px;
margin-bottom: 90px;}

#intro {text-align: center;
font-size: 20px;
margin-top: 40px;
margin-bottom: 40px;
padding: 30px;
}

h1 {text-align: center;}

h4 {text-align: center;
font-size: 20px;}

p{text-align: center;
font-size: 15px;}

#prod_image {
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
	}



@media screen and (max-width: 500px) 
	{
	footer .redes-sociales {
	/*color: #fff;	
	*/margin: 25px 40px;
	display: inline-flex;
	list-style-type: none;
	font-size: 30px;
	letter-spacing: 30px;
	text-align: center;
	width: 100%;
	}

	h5 {padding: 20px;
	margin-top: 80px;
	text-align: left;}

	body {width: 100%;}



}

@media screen and (max-width: 300px) 
	{
		footer {width: 100%;}
		body {width: 100%;}
	}


.container-fluid{
	padding: 0px !important;

}

body {padding-right: 0px !important;}